@use "../../assets/themes/theme" as theme;

.main-page {
  display: grid;
  gap: 1rem;
  height: calc(100dvh - theme.$root-container-padding - theme.$root-container-padding);
  padding: theme.$root-container-padding;

  grid-template-columns: 1fr;
  grid-template-rows: max(3rem) auto 1fr max(3rem);
  grid-template-areas:
    "_header"
    "_sidebar"
    "_content"
    "_footer";
}

.header {
  grid-area: _header;
  border: 1px solid black;
  padding: theme.$main-component-padding;
}

.search-element {
  grid-area: _sidebar;
  border: 1px solid black;
  padding: theme.$main-component-padding;
}

.search-result {
  grid-area: _content;
  border: 1px solid black;
  padding: theme.$main-component-padding;
}

.footer {
  grid-area: _footer;
  border: 1px solid black;
  padding: theme.$main-component-padding;
}

@media (min-width: #{theme.$extra-small-device-max-width + 1px}) {
  .main-page {
    grid-template-columns: max(15rem) 1fr;
    grid-template-rows: max(3rem) 1fr max(3rem);
    grid-template-areas:
      "_header _header"
      "_sidebar _content"
      "_footer _footer";
  }
}
